<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
	<div class="container">
		<%= link_to "EaBA", root_path, id: "logo" %>
		<nav>
		<ul class="nav pull-right">
			<% if client_user_loged_in? %>
				<li><%= link_to "Profile", "#" %></li>
				<li><%= link_to "Preference", "#" %></li>
				<li><%= link_to "Orders", "#" %></li>
				<li><%= link_to "Reviews", "#" %></li>
				<li>
					<%= link_to "Logout", client_user_logout_path, method: "delete" %>
				</li>
			<% elsif restaurant_user_loged_in? %>
				<li><%= link_to "Restaurant", "#" %></li>
				<li><%= link_to "Orders", "#" %></li>
				<li><%= link_to "Reviews", "#" %></li>
				<li>
					<%= link_to "Logout", restaurant_user_logout_path, method: "delete" %>
				</li>
			<% else %>
				<li><%= link_to "Client User", client_user_login_path %></li>
				<li><%= link_to "Restaurant User", restaurant_user_login_path %></li>
			<% end %>
		</ul>
		</nav>
	</div>
</div>
</header>
